@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    background: #ffffff;
    overflow-x: hidden;
    min-width: 1000px;

}
ul{
    padding-left: 0;
    list-style-type: none;
}

/*顶端灰条*/
.header{
    width: 100%;
    height: 30px;
    background-color: #e0e0e0;
    margin: 0;
    padding: 0;
    z-index: 10;
    color: #505050;
    font-size: 13px;
   /* border: solid 1px salmon;*/
}
/*顶端欢迎语*/
.header .welcome{
    line-height: 30px;
    margin-left: 20px;
    float: left;

}
/*顶端列表*/
.header .header-list{
    float: right;
    margin-top: 0;
/*  height: 30px;
    padding: 0;
    line-height: 30px;
    border: solid 1px burlywood;*/
}
.header .header-list li {
    float:right;
    line-height: 30px;
    padding:  0 10px;
    position: relative;
}
.header .header-list  li a{
    display:block;
    font-size:12px;
    color: black;
    text-decoration: none;
}
.header .header-list li.li1 ,
.header .header-list li.li2,
.header .header-list li.li3{
    position: relative;
    cursor: pointer;
    z-index: 12;
  /*  background: red;*/
}
/*子公司下拉*/
.header .header-list li.li1 .sub-ul{
    background: #ffffff;
    height: 0;
    width: 180px;
    overflow: hidden;
    position: absolute;
    right: 0;
    /*下拉效果*/
    transition: height 1s;
    /*控制优先级*/
    z-index: 999;
}
.header .header-list li.li1 .sub-ul .sub-uls{
    width: 200px;
    height: 100px;
    float: left;
    text-align: center;

}
.header .header-list li.li1 .sub-ul .sub-uls li{
    width: 100%;
    height: 30px;
/*	background:#C63;*/
}
.header .header-list li.li1 .sub-ul .sub-uls li a{
    text-align: center;
    display: block;
    height: 32px;
    line-height: 35px;
    width: 100%;

}
.header .header-list li.li1 .sub-ul .sub-uls li a:hover{
    background: #dddddd;
}
.header .header-list li.li1:hover .sub-ul{
    border: 1px solid #dddddd;
    border-bottom: solid 3px red;
    background: #ffffff;
    height: 125px;
    width: 180px;
    /*下拉动画*/
    transition: height 1s;
}

/*采购平台+网上办公  菜单下拉*/
.header .header-list li.li2 .sub-ul2,
.header .header-list li.li3 .sub-ul2{
    background: #fff;
    height: 0;
    width: 80px;
    overflow: hidden;
    position: absolute;
    right: 0;
    /*下拉动画效果*/
    transition: height .5s;
    /*控制优先级*/
    z-index: 999;
}

.header .header-list li.li2:hover .sub-ul2,
.header .header-list li.li3:hover .sub-ul2{
    border: 1px solid #ddd;
    border-bottom: 3px solid red;
    background: #fff;
    height: 50px;
    width: 80px;
    /*下拉动画效果*/
    transition: height .5s;

}
.header .header-list li.li2 .sub-ul2 .sub-uls,
.header .header-list li.li3 .sub-ul2 .sub-uls{
    display:inline-block;
    width: 80px;
    height: 100px;
    float: left;
    text-align: center;

}

.header .header-list li.li2 .sub-ul2 .sub-uls li a,
.header .header-list li.li3 .sub-ul2 .sub-uls li a{
    display: block;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
  /*  background-color: #FF0000;*/
}
.header .header-list li.li2 .sub-ul2 .sub-uls li a:hover,
.header .header-list li.li3 .sub-ul2 .sub-uls li a:hover{
    background: #dddddd;

}
/*导航logo*/
.logo a{
    display: inline-block;
    width: 220px;
    height: 88px;
    background: url("../img/logo.png") no-repeat;
    background-size: contain;
    float: left;
    margin: 0;

}
.hide-text{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
/*导航列表*/
.top-list{

    width: 50%;
    height: 90px;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    margin-left: 180px;
    border-right: solid 1px darkgray;
}

.top-list li{
    list-style: none;
    float: left;
    line-height: 90px;
    margin-right: 20px;
    color: black;
}
.top .top-list li.nav1 ,
.top .top-list li.nav2,
.top .top-list li.nav3,
.top .top-list li.nav4,
.top .top-list li.nav5{
    position: relative;
    cursor: pointer;
    z-index: 12;
    /*  background: red;*/
}
.top-list a{
    display: inline-block;
    width: 80px;
    height: 80%;
    /*border: solid 1px palevioletred;*/
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: black;
}
.top-list a.top-list1:hover{
    background-color: orangered;
    color: white;
}


/*走进时风下拉*/
.top .top-list li.nav1 .nav-ul,
.top .top-list li.nav2 .nav-ul,
.top .top-list li.nav3 .nav-ul,
.top .top-list li.nav4 .nav-ul{
    background: #ffffff;
    height: 0;
    width: 150px;
    overflow: hidden;
    position: absolute;
    overflow-y: scroll;
    right: 0px;
    /*下拉效果*/
    transition: height 1s;
    /*控制优先级*/
    z-index: 2222;
}
.top .top-list li.nav1 .nav-ul .nav-uls,
.top .top-list li.nav2 .nav-ul .nav-uls,
.top .top-list li.nav3 .nav-ul .nav-uls,
.top .top-list li.nav4 .nav-ul .nav-uls{
    width: 200px;
    height: 180px;
    float: left;
    text-align: center;

}
.top .top-list li.nav1 .nav-ul .nav-uls li,
.top .top-list li.nav2 .nav-ul .nav-uls li,
.top .top-list li.nav3 .nav-ul .nav-uls li,
.top .top-list li.nav4 .nav-ul .nav-uls li{
    width: 100%;
    height: 30px;
    /*	background:#C63;*/
}
.top .top-list li.nav1 .nav-ul .nav-uls li a,
.top .top-list li.nav2 .nav-ul .nav-uls li a,
.top .top-list li.nav3 .nav-ul .nav-uls li a,
.top .top-list li.nav4 .nav-ul .nav-uls li a{
    text-align: center;
    display: block;
    height: 32px;
    line-height: 35px;
    width: 100%;

}
.top .top-list li.nav1 .nav-ul .nav-uls li a:hover,
.top .top-list li.nav2 .nav-ul .nav-uls li a:hover,
.top .top-list li.nav3 .nav-ul .nav-uls li a:hover,
.top .top-list li.nav4 .nav-ul .nav-uls li a:hover{
    background: #dddddd;

}
.top .top-list li.nav1:hover .nav-ul,
.top .top-list li.nav2:hover .nav-ul,
.top .top-list li.nav3:hover .nav-ul,
.top .top-list li.nav4:hover .nav-ul{
    border: 1px solid #dddddd;
   /* border-bottom: solid 3px red;*/
    background: #ffffff;
    height: 150px;
    width: 180px;
    color: #e70014;
    /*下拉动画*/
    transition: height 1s;
}

/*修改浏览器滚动条*/
.nav-ul .list1::-webkit-scrollbar
{
    width: 7px;
}
.nav-ul .list1::-webkit-scrollbar-button {
    /*设置两端样式，可以用图片*/
}
.nav-ul .list1::-webkit-scrollbar-track
{
    /*外轨道*/
    background: #fff;
}
::-webkit-scrollbar-track-piece  {
    /*内轨道*/
}
/*滚动的部分*/
.nav-ul .list1::-webkit-scrollbar-thumb{
    background: #B4B4B4;
}
::-webkit-scrollbar-corner{
    /* 定义边角 */
}
::-webkit-resizer{
    /*定义右下角的拖拽样式*/
}


/*搜索图标*/
.search{
    width: 30px;
    height: 20px;
   /* background: #e70014;*/
    position: absolute;
    left: 1100px;
    top: 68px;
}
.search a{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 20px;

}
.ico{
    display: inline-block;
    width: 20px;
    height: 20px;
   /*图片截取*/
    background: url("../img/ico.png") no-repeat;
    background-position: 0px 0px;
    position: relative;
}

/*搜索下拉菜单*/
.search .input-text {
    height: 0;
    width: 150px;
    overflow: hidden;
    position: relative;
    left: -100px;
    /*下拉效果隐藏*/
    transition: height 1s;
}
.top .search .input-text input{
    width: 150px;
    height: 30px;
    border: none;
}
.search:hover .input-text{
    border: 1px solid black;
    height: 30px;
    width: 150px;
    position: relative;
    left: -100px;
    top: 1px;
    overflow: hidden;
     /*下拉动画*/
    transition: height 1s;

}

/*语言类型转换*/
.language{                  /*页面显示的样式*/
    display: inline-block;
    width: 50px;
    height: 20px;
   /* border: 1px solid salmon;*/
    color: #272727;
    font-weight: bold;
    position: absolute;
    right: 60px;
    margin-top: 8px;
    margin-left: 30px;
}
.language .title{           /*页面显示a链接样式*/
    display: block;
    width: 100%;
    height: 50px;
    line-height: 20px;
    text-decoration: none;
    color: #505050;
  /*  background: rosybrown;*/
    position: relative;
    top: 30px;
    right: 70px;

}
.language .item{                /*设置下拉菜单的隐藏样式*/
    background-color: rgba(0,0,0,0.5);
    width: 180px;
    height: 0;
    position: relative;
    left: -100px;
    top: 35px;
    /*div内容隐藏*/
    overflow: hidden;
    transition: height 1s;
}
.language .item a{              /*下拉菜单中a链接的样式*/
    display: inline-block;
    text-align: center;
    color: #fff;
    width: 60px;
    line-height: 35px;
    margin-left: 13px;
}
.language:hover .item{          /*鼠标放在language处是出现下拉菜单*/
    background-color: rgba(0,0,0,0.5);
    width: 180px;
    height: 35px;
    line-height: 35px;
    position: relative;
    left: -100px;
    top: 35px;
    transition: height 1s;
}

/*滚动图片*/
.roll1{
    width: 100%;
    height: 550px;
    margin-top: 0px;

}
/*覆盖部分*/
.cover{
    position: absolute;
    left: 50%;
    margin-left: -600px;
    width: 40%;
    bottom: 0;
    display: inline-block;
    height: 150px;
  /*  background-color: #6699cc;*/
    background-color:rgba( 7,82,104,0.7);
    color: white;
    text-decoration: none;
    text-align: center;
}
.cn{
    margin-top: 40px;

    font-size: 35px;
}
.en{
    font-size: 20px;
}
/*箭头*/
.arrs{
    background: url("../img/b_btn.png");
    display: inline-block;
    width: 20px;
    height: 35px;
    float: left;
    /*border: 1px solid saddlebrown;*/

}
.arr_prev{
    background-position: 0px 0px;
    position: relative;
    left: 100px;
    bottom: 105px;
}
.arr_prev:hover{
    background-position: -20px 0;
}
.arr_next{
    background-position: 0px -35px;
    position: relative;
    left: 550px;
    bottom: 105px;
}
.arr_next:hover{
    background-position: -20px -35px;
}
/*公司简介*/
.introduce{
    width: 1200px;
    height:500px ;
   /* border: solid 1px darkseagreen;*/
   margin: 0 auto;
    padding: 0;
}
/*公司成立*/
.found{
    width: 35%;
    height: 350px;
    background-color:#e0e0e0;
    padding-top: 50px;
    padding-left: 35px;
    padding-right: 35px;
    float: left;
}
.topic{
    font-size: 35px;
    font-weight: bold;
    margin-top: 0px;
}
.topic a{
    text-decoration: none;
    color: black;
}
.content{
    width: 80%;
    font-size: 14px;
    margin-top: 0;
}
.area{
     width: 45%;
     height: 100px;
     border-right: solid 1px darkgray;
     text-align: center;
     margin-top: 50px;
    margin-left: 10px;
    float: left;
 }
.num{
    display: inline-block;
    color: cornflowerblue;
    font-size: 40px;
    font-weight: bold;
    width: 102px;
    height: 40px;
    /*    border: solid 1px salmon;*/
}
.mu{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 16px;
    font-style: normal;
    color: cornflowerblue;
    margin-left: 0;
    /*    border: solid 1px darkseagreen;*/
}
.zn{
    display: inline-block;
    margin-right: 60px;
    margin-top: 5px;
}

.area2{
    width: 40%;
    height: 100px;
    /*border: solid 1px sandybrown;*/
    text-align: center;
    margin-top: 50px;
    margin-left: 40px;
    float: left;
}
.num2{
    display: inline-block;
    color: cornflowerblue;
    font-size: 40px;
    font-weight: bold;
    width: 60px;
    height: 40px;
       /* border: solid 1px salmon;*/
}
.yi{
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 16px;
    font-style: normal;
    color: cornflowerblue;
    margin-left: 0;
/*        border: solid 1px darkseagreen;*/
}
.zz{
    display: inline-block;
    margin-right: 20px;
    margin-top: 5px;
}
.about{
    width: 59%;
    height: 400px;
    float: left;
  /*  border: solid 1px slateblue;*/
}
.about1{
    width: 100%;
    height: 200px;
   /* border: solid 1px ;*/
}
.img1{
    float: left;
    margin: 0;
}
.text1{
    display: block;
    width: 468px;
    height: 200px;
/*    border: solid 1px chartreuse;*/
    float: left;
    color: white;
    background-color: brown;

}
.move {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 468px;
    height: 200px;

}
.move:hover{
    background-color: #6699cc;
}
.topic1{
    margin-left: 45px;
    margin-top: 30px;
}
.con1{
    font-size: 10px;
    width: 350px;
    margin-left: 50px;
}
.about2{
    width: 100%;
    height: 200px;
}

.img2{
    float: left;
    margin: 0;
}
.text2{
    display: block;
    width: 468px;
    height: 200px;
 /*   border: solid 1px chartreuse;*/
    float: left;

    background-color: #e0e0e0;

}
.topic2{
    margin-left: 45px;
    margin-top: 30px;
}
.con2{
    font-size: 10px;
    width: 350px;
    margin-left: 50px;
}
.move2 {
    text-decoration: none;
    display: inline-block;
    width: 468px;
    height: 200px;
    color: black;

}
.move2:hover{
    color: white;
    background-color: #6699cc;
}
.news{
    display: inline-block;
    width: 40%;
    height: 100px;
   /* border: solid 1px orangered;*/
    float: left;
    line-height: 100px;
    font-size: 40px;
    text-decoration: none;
    color: #272727;
    font-weight: bold;
}

.more{
    display: inline-block;
    width: 10%;
    height: 100px;
    font-weight: bold;
    float: right;
    line-height: 100px;
    text-decoration: none;
    color: black;
}
.product{
    width: 100%;
    height: 550px;
/*    border: solid 1px seagreen;*/
    background-color: beige;
    padding-top: 20px;
}
.product-text{
    width: 90%;
    height: 50px;
    /*border: solid 1px salmon;*/
    margin: 0 auto;
}
.product-topic{
    display: inline-block;
    width: 15%;
    height: 50px;
    line-height: 50px;
    /*background-color: blueviolet;*/
    font-size: 40px;
    float: left;
    text-decoration: none;
    color: black;
}
.product-con{
    display: inline-block;
    width:50% ;
    height: 50px;
    float: left;
}
.more2{
   display: inline-block;
    width: 5%;
    height: 50px;
    float: right;
    line-height: 50px;
    /*background-color: aquamarine;*/
    text-decoration: none;
    color: #272727;
}
.product-pic{
    width: 100%;
    height: 478px;
  /*  border: solid 1px yellow;*/
    margin: 0 auto;

}
.pic1{
    width: 372px;
    height: 320px;
   /* border: solid 1px brown;*/
    float: left;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 6%;
    overflow: hidden;
}
.pic1 a{
    display: inline-block;
    width: 372px;
    height: 320px;
    /*放大*/
    transition: 1s ease all;
    transition-timing-function: steps(1,start);
}
/*鼠标放上之后放大*/
.pic1 a:hover{
    width: 372px;
    height: 320px;
    transform: scale(1.2);
    /*overflow: hidden;*/
}
.cover1{
    position: relative;
    left: -606px;
    top: 280px;
    margin-left: -600px;
    width: 372px;
    display: inline-block;
    height: 90px;
    /*  background-color: #6699cc;*/
    background-color:rgba( 7,82,104,0.7);
    color: white;
    text-decoration: underline;
}
.jl{
    color: white;
    font-size: 30px;
}
.cover1:hover{
    background-color:rgba(255,0,0,0.7) ;
    text-decoration: none;
}
.pic2{
    width: 372px;
    height: 320px;
    float: left;
    margin-top: 50px;
    margin-right: 30px;
    overflow: hidden;
}
.pic2 a{
    display: inline-block;
    width: 372px;
    height: 320px;
    /*放大*/
    transition: 1s ease all;
    transition-timing-function: steps(1,start);
}
.pic2 a:hover{
    width: 372px;
    height: 320px;
    transform: scale(1.2);

}

.cover2{
    position: relative;
    left: 16px;
    top: 280px;
    margin-left: -600px;
    width: 372px;
    display: inline-block;
    height: 90px;
    /*  background-color: #6699cc;*/
    background-color:rgba( 7,82,104,0.7);
    color: white;
    text-decoration: underline;
}
.eng{
    color: white;
    font-size: 30px;
}
.cover2:hover{
    background-color:rgba(255,0,0,0.7) ;
    text-decoration: none;
}
.pic3{
    width: 372px;
    height: 320px;
   /* border: solid 1px brown;*/
    float: left;
    margin-top: 50px;
    margin-right: 30px;
    overflow: hidden;
}
.pic3 a{
    display: inline-block;
    width: 372px;
    height: 320px;
    /*放大*/
    transition: 1s ease all;
    transition-timing-function: steps(1,start);
    overflow: hidden;
}
.pic3 a:hover{
    transform: scale(1.2,1.2);

}
.cover3{
    position: relative;
    left: 639px;
    top: 280px;
    margin-left: -600px;
    width: 372px;
    display: inline-block;
    height: 90px;
    /*  background-color: #6699cc;*/
    background-color:rgba( 7,82,104,0.7);
    color: white;
    text-decoration: underline;
}
.trac{
    color: white;
    font-size: 30px;
}
.cover3:hover{
    background-color:rgba(255,0,0,0.7) ;
    text-decoration: none;
}
.parrs {
    display: block;
    width: 40px;
    height: 74px;
    background: url(../img/i_ptn.png) no-repeat;


}

.product-pic .pprev{
    background-position: 0px 0px;
    position: relative;
    top: 15%;
    right: -1%;
}
.pprev:hover{
    background-position: -40px 0;
}
.product-pic .pnext{
    background-position: 0px -74px;
    position: relative;
    top: 0%;
    left:96%;
}
.pnext:hover{
    background-position: -40px -74px;
}
/*footer*/
.footer{
    width: 100%;
    height: 400px;
    /*border: solid 1px slateblue;*/
}
.foot-top{
    width: 100%;
    height: 300px;
   /* border: solid 1px dodgerblue;*/
    background: url("../img/f_t_bg.gif");
}
.foot-top a{
    color: #6699cc;
    text-decoration: none;
}
.ftop1{
     display: inline-block;
     width: 12%;
     height: 260px;
    float: left;
     margin-left: 100px;
     margin-top: 30px;
     list-style-type: none;

 }
.ftopic1{
    margin-bottom: 20px;

}
.ftopic1 a{
    color: white;
    font-size: 23px;
}
.ftopic1 a:hover{
    font-weight: bold;
}
.fico{
    width: 45px;
    height: 35px;
    background: url("../img/f_ico.png") no-repeat;
    float: left;
    margin-right: 20px;
}
.fico1{
    background-position: 0px 0px;
}
.flist1{
    width: 120px;
    height: 25px;
    margin-left: 65px;
    border-right: solid 1px white;
}
.flist1 a:hover{
    color: white;
}
.ftop2{
    display: inline-block;
    width: 12%;
    height: 260px;
    float: left;
    margin-left: 100px;
    margin-top: 30px;
    list-style-type: none;
}
.ftopic2{
    margin-bottom: 20px;

}
.ftopic2 a{
    color: white;
    font-size: 23px;
}
.ftopic2 a:hover{
    font-weight: bold;
}

.fico2{
    background-position: -45px 0px;
}
.flist2{
    width: 120px;
    height: 25px;
    margin-left: 65px;
    border-right: solid 1px white;
    float: left;
}
.flist2 a:hover{
    color: white;
}
.ftop3{
    display: inline-block;
    width: 16%;
    height:260px;
    float: left;
    margin-left: 100px;
    margin-top: 30px;
    list-style-type: none;
}
.ftopic3{
    margin-bottom: 20px;

}
.ftopic3 a{
    color: white;
    font-size: 23px;
}
.ftopic3 a:hover{
    font-weight: bold;
}

.fico3{
    background-position: -90px 0px;
}
.flist3{
    width: 220px;
    height: 25px;
    margin-left: 65px;
    border-right: solid 1px white;
    float: left;
}
.flist3 a:hover{
    color: white;
}
.code1{
    width: 130px;
    height: 130px;
    background:url("../img/2cdd326c28544f7889ae6a54fe2ae541.png") ;
    float: left;
    margin-left: 120px;
    margin-top: 80px;
}
.code-text1{
    width: 80px;
    height: 30px;
   /*background:  salmon ;*/
    position: absolute;
    color: white;
    top: 1960px;
    left: 960px;
}
.code2{
    width: 130px;
    height: 130px;
    background:url("../img/2cdd326c28544f7889ae6a54fe2ae541.png") ;
    float: left;
    margin-left: 20px;
    margin-top: 80px;
}
.code-text2{
    width: 80px;
    height: 30px;
    /*background:  salmon ;*/
    position: absolute;
    color: white;
    top: 1960px;
    left: 1110px;
}
.add{
    width: 260px;
    height: 30px;
    background-color: #e70014;
    color: white;
    font-size: 20px;
    position: absolute;
    right: 130px;
    bottom: -1377px;
}
.add1{
    margin-right: 10px;
    float: right;
    font-weight: bold;
}
.foot-bottom{
    width: 90%;
    height: 65px;
    /*border: solid 1px red;*/
    margin: 0px auto;
}
.share{
    display: inline-block;
    width: 17%;
    height: 50px;
/*    border: solid 1px blue;*/
    margin-right: 90px;
}
.share-text{
    display: inline-block;
    width: 40px;
    height: 20px;
   /* border: solid 1px saddlebrown;*/
    font-style: normal;
}
.share .bico{
    display: inline-block;
    background: url("../img/f_share.jpg") no-repeat;
    width: 33px;
    height: 33px;
    margin-top: 10px ;
}
.share .bico1{
    background-position: 0 0;
}
.share .bico2{

    background-position: -33px 0;
}
.share .bico3{

    background-position: -66px 0;
}
.share .bico4{

    background-position: -99px 0;
}
.copyright{
    display: inline-block;
    width: 33%;
    height: 60px;
    color: #555555;
    /*border: solid 1px gold;*/

}
.other{
    display: inline-block;
    width: 260px;
    height: 50px;
   /* border: solid 1px chartreuse;*/
    float: right;
    margin-right: 64px;
    background: gainsboro;
}
.others{
    list-style-type: none;
    font-size: 13px;
    margin-left: 10px;
}
.others li{
    float: left;
    text-align: center;
    height: 40px;
    width: 60px;
    line-height: 40px;
    border-right: solid 1px darkgray;
}
.others a{
    text-decoration: none;
    color: #505050;

}
.other a:hover{
    text-decoration: underline;
}